src/test/resources/OasysToNDH wsdls/NDH_Risk_Update_7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions
        xmlns:tns="http://xmlns.example.com/1285145348265/Risk_UpdateImpl/Business/Processes/NDH__Web__Service"
        xmlns:ns0="http://www.hp.com/NDH_Web_Service/riskupdaterequest"
        xmlns:ns1="http://www.hp.com/NDH_Web_Service/riskupdateresponse"
        xmlns:ns2="http://www.hp.com/NDH_Web_Service/Fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled"
        targetNamespace="http://xmlns.example.com/1285145348265/Risk_UpdateImpl/Business/Processes/NDH__Web__Service">
    <wsdl:types>
        <xs:schema xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hp.com/NDH_Web_Service/DomainTypes" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:simpleType name="AddressLine">
                <xs:annotation>
                    <xs:documentation>Used for all lines of the address other than the postcode</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="256"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CMSNumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CRONumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="12"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CourtType">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="6"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ElementCode">
                <xs:annotation>
                    <xs:documentation>Generic code used for all category and element type fields</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:element name="ApplicationMode" type="xs:string"/>
                    <xs:element name="CorrelationID" type="xs:string"/>
                    <xs:element name="OASysRUsername" type="xs:string"/>
                    <xs:element name="MessageTimestamp" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ICMSRef">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ICMSReference">
                <xs:annotation>
                    <xs:documentation>ICMS Elements used to uniquely identify an offender and event</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="RefClient" type="dt:ICMSRef">
                        <xs:annotation>
                            <xs:documentation>Only used for the ICMS to identify a unique offender/Event combination</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RefLink" type="xs:anyType">
                        <xs:annotation>
                            <xs:documentation>Only used for the ICMS to identify a unique offender/Event combination</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RefSupervision" type="xs:anyType">
                        <xs:annotation>
                            <xs:documentation>Only used for the ICMS to identify a unique offender/Event combination</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Numeric10">
                <xs:restriction base="xs:integer">
                    <xs:maxInclusive value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="OffenceDetail">
                <xs:sequence>
                    <xs:element name="OffenceGroupCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>3 digita Home Office Code i.e. "002"</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OffenceSubCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>2 Digit Home Office sub code i.e. "01"</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="AdditionalIndicator" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Only one offence will be maked as N, all others will be set to Y</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="PNCNumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PersonName">
                <xs:annotation>
                    <xs:documentation>Standard offender name type</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PhoneNumber">
                <xs:annotation>
                    <xs:documentation>Standard telephone number type</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PostCode">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PrisonNumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="6"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Risk">
                <xs:sequence>
                    <xs:element name="RiskofHarm" type="dt:ElementCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SharedKeyCode">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Text100">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Text2">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="VeryLargeText">
                <xs:annotation>
                    <xs:documentation>Maps to an Oracle CLOB item</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:element name="MessageID">
                <xs:annotation>
                    <xs:documentation>Unique message ID to be used for associating a request sent to National Delius with a response received.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hp.com/NDH_Web_Service/riskupdateresponse" targetNamespace="http://www.hp.com/NDH_Web_Service/riskupdateresponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.hp.com/NDH_Web_Service/DomainTypes"/>
            <xs:element name="RiskUpdateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="header" type="dt:Header"/>
                        <xs:element name="CaseReferenceNumber" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>Offender.CRN</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hp.com/NDH_Web_Service/riskupdaterequest" targetNamespace="http://www.hp.com/NDH_Web_Service/riskupdaterequest" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.hp.com/NDH_Web_Service/DomainTypes"/>
            <xs:element name="RiskUpdateRequest">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="header" type="dt:Header"/>
                        <xs:element name="CMSProbNumber" type="dt:CMSNumber"/>
                        <xs:element name="Risk" type="dt:Risk"/>
                        <xs:element name="RiskFlags">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hp.com/NDH_Web_Service/Fault" targetNamespace="http://www.hp.com/NDH_Web_Service/Fault" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ErrorType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>A unique code identifying the type of this fault.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Containing specific details for an error, e.g. - 'Offender with CRN 1234567' could not be found'.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:dateTime"/>
                    <xs:element name="RequestMessage" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The contents of the SOAP request body that caused this fault</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AuthorisationFailureException" type="ns2:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that the client is not authorised to access the requested service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BusinessException" type="ns2:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that a business error occured that prevented the request from being fulfilled, e.g. -' Offender with CRN 1234567' could not be found'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:AuthorisationFailureException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that the client is not authorised to access the requested service.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ns2:BusinessException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that a business error occured that prevented the request from being fulfilled, e.g. -' Offender with CRN 1234567' could not be found'.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ns2:ServerRuntimeException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that an unexpected problem occurred during server side processing that has prevented the request from being fulfilled, e.g.-  database constraint violation when attemping to persist new data from IAPS or eOASys.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ns2:ValidationFailureException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that the incoming request is not valid according to the schema.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ServerRuntimeException" type="ns2:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that an unexpected problem occurred during server side processing that has prevented the request from being fulfilled, e.g.-  database constraint violation when attemping to persist new data from IAPS or eOASys.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValidationFailureException" type="ns2:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that the incoming request is not valid according to the schema.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="NDH__Web__Service__Risk__Update">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://localhost:8555/Business/Processes/NDH_Web_Service/NDH_Web_Service_Risk_Update"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="NDH_PortType">
        <wsdl:operation name="Risk_Update">
            <wsdl:input message="tns:Risk_Update_Request"/>
            <wsdl:output message="tns:Risk_Update_Response"/>
            <wsdl:fault name="fault1" message="tns:Fault_Report"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:NDH_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Risk_Update">
            <soap:operation style="document" soapAction="/Business/Processes/NDH_Web_Service/NDH_Web_Service_Risk_Update" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Risk_Update_Request">
        <wsdl:part name="request" element="ns0:RiskUpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="Risk_Update_Response">
        <wsdl:part name="response" element="ns1:RiskUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="Fault_Report">
        <wsdl:part name="fault" element="ns2:Fault"/>
    </wsdl:message>
</wsdl:definitions>