src/test/resources/oasys_wsdl/NDH_CMS_Update_7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1285145348265/CMS_UpdateImpl/Business/Processes/NDH__Web__Service"
                  xmlns:ns0="http://www.hp.com/NDH_Web_Service/CMSUpdate"
                  xmlns:ns1="http://www.hp.com/NDH_Web_Service/Fault"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="Untitled"
                  targetNamespace="http://xmlns.example.com/1285145348265/CMS_UpdateImpl/Business/Processes/NDH__Web__Service">
    <wsdl:types>
        <!--<xs:schema xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oraxdb="http://xmlns.oracle.com/xdb" targetNamespace="http://www.hp.com/NDH_Web_Service/DomainTypes" elementFormDefault="qualified" attributeFormDefault="unqualified">-->
        <xs:schema xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://www.hp.com/NDH_Web_Service/DomainTypes" elementFormDefault="qualified"
                   attributeFormDefault="unqualified">
            <xs:simpleType name="AddressLine">
                <xs:annotation>
                    <xs:documentation>Used for all lines of the address other than the postcode</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="256"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CMSNumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CRONumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="12"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CourtType">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="6"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ElementCode">
                <xs:annotation>
                    <xs:documentation>Generic code used for all category and element type fields</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:element name="ApplicationMode" type="xs:string"/>
                    <xs:element name="CorrelationID" type="xs:string"/>
                    <xs:element name="OASysRUsername" type="xs:string"/>
                    <!--<xs:element oraxdb:SQLType="TIMESTAMP WITH TIME ZONE" name="MessageTimestamp" type="xs:dateTime"/>-->
                    <xs:element name="MessageTimestamp" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ICMSRef">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ICMSReference">
                <xs:annotation>
                    <xs:documentation>ICMS Elements used to uniquely identify an offender and event</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="RefClient" type="dt:ICMSRef">
                        <xs:annotation>
                            <xs:documentation>Only used for the ICMS to identify a unique offender/Event combination
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RefLink" type="xs:anyType">
                        <xs:annotation>
                            <xs:documentation>Only used for the ICMS to identify a unique offender/Event combination
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RefSupervision" type="xs:anyType">
                        <xs:annotation>
                            <xs:documentation>Only used for the ICMS to identify a unique offender/Event combination
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Numeric10">
                <xs:restriction base="xs:integer">
                    <xs:maxInclusive value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="OffenceDetail">
                <xs:sequence>
                    <xs:element name="OffenceGroupCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>3 digita Home Office Code i.e. "002"</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OffenceSubCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>2 Digit Home Office sub code i.e. "01"</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="AdditionalIndicator" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Only one offence will be maked as N, all others will be set to Y
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="PNCNumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PersonName">
                <xs:annotation>
                    <xs:documentation>Standard offender name type</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PhoneNumber">
                <xs:annotation>
                    <xs:documentation>Standard telephone number type</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PostCode">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PrisonNumber">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="6"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Risk">
                <xs:sequence>
                    <xs:element name="RiskofHarm" type="dt:ElementCode"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SharedKeyCode">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Text100">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Text2">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="VeryLargeText">
                <xs:annotation>
                    <xs:documentation>Maps to an Oracle CLOB item</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:element name="MessageID">
                <xs:annotation>
                    <xs:documentation>Unique message ID to be used for associating a request sent to National Delius
                        with a response received.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="http://www.hp.com/NDH_Web_Service/assessmentsummary"
                   targetNamespace="http://www.hp.com/NDH_Web_Service/assessmentsummary" elementFormDefault="qualified"
                   attributeFormDefault="unqualified">
            <xs:import namespace="http://www.hp.com/NDH_Web_Service/DomainTypes"/>
            <xs:complexType name="Assessment">
                <xs:sequence>
                    <xs:element name="CMSProbNumber" type="dt:CMSNumber"/>
                    <xs:choice>
                        <xs:element name="EventNumber" type="xs:integer">
                            <xs:annotation>
                                <xs:documentation>Relates to Event Number from PCMS or Seq Numbe from Legacy
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ICMSReference" type="dt:ICMSReference"/>
                    </xs:choice>
                    <xs:element name="OffenderGUID" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Primary key for the offender record in OASysR</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DateAssessmentCompleted" type="xs:date" minOccurs="0"/>
                    <xs:element name="DeletedIndicator" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Set to "1" if deleted</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AssessmentGUID" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Primary Key of the Assessment</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RiskFlags" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Comma Separated list of Risk flags i.e. "N", "L", "M", "H", "V"
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ConcernFlags" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Comma separated List of Concern codes i.e. "YES", "NO, "DK", "N/A"
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="TotalScore" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>OVP + OGP total score</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="PurposeOfAssessmentCode" type="dt:ElementCode" minOccurs="0"/>
                    <xs:element name="PurposeOfAssessmentDescription" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="DateCreated" type="xs:date"/>
                    <xs:element name="AssessedBy" type="dt:PersonName" minOccurs="0"/>
                    <xs:element name="CourtCode" type="dt:SharedKeyCode" minOccurs="0"/>
                    <xs:element name="CourtType" type="dt:CourtType" minOccurs="0"/>
                    <xs:element name="CourtName" type="dt:Text100" minOccurs="0"/>
                    <xs:element name="Offence" type="dt:OffenceDetail" minOccurs="0"/>
                    <xs:element name="OGRSScore1" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="OGRSScore2" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="SentencePlanInitialDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="SentencePlanReviewDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="ReviewTerminated" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>"Y" if terminated</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ReviewNumber" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OGPNotCalculated" type="xs:integer" minOccurs="0"/>
                    <xs:element name="OVPNotCalculated" type="xs:integer" minOccurs="0"/>
                    <xs:element name="OGPScore1" type="xs:integer" minOccurs="0"/>
                    <xs:element name="OGPScore2" type="xs:integer" minOccurs="0"/>
                    <xs:element name="OVPScore1" type="xs:integer" minOccurs="0"/>
                    <xs:element name="OVPScore2" type="xs:integer" minOccurs="0"/>
                    <xs:element name="OGRSRiskRecon" type="dt:ElementCode" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OGRSRiskRecon</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OGPRiskRecon" type="dt:ElementCode" minOccurs="0"/>
                    <xs:element name="OVPRiskRecon" type="dt:ElementCode" minOccurs="0"/>
                    <xs:element name="LayerType" type="dt:ElementCode"/>
                    <xs:element name="Section3CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection3Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Section4CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection4Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Section6CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection6Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Section7CrimScore" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection7Scores</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Section8CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection8Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Section9CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection9Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Section11CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection11Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Section12CrimScore" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASYSSection12Scores</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="LAOIndicator" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.LAO</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="TierCode" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Layer1Obj" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Comma Separated list of values</xs:documentation>
                            <xs:appinfo>Offender.OASYSAssessment.Layer1Obj</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Risk" type="dt:Risk" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Objective">
                <xs:sequence>
                    <xs:element name="ObjectiveDescription">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Objective</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ObjectiveStatus">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Objective</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ObjectiveNumber" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Objective</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Need1" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Need1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Need2" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Need2</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Need3" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Need3</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Need4" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Need4</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ActionCode1" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.WorkSummary1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ActionText1" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Text1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ActionCode2" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.WorkSummary1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ActionText2" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Text1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ActionCode3" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.WorkSummary1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ActionText3" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>Offender.OASYSAssessment.OASysSentencePlan.Text1</xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:as="http://www.hp.com/NDH_Web_Service/assessmentsummary"
                   xmlns:dt="http://www.hp.com/NDH_Web_Service/DomainTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://www.hp.com/NDH_Web_Service/CMSUpdate" elementFormDefault="qualified"
                   attributeFormDefault="unqualified">
            <xs:import namespace="http://www.hp.com/NDH_Web_Service/DomainTypes"/>
            <xs:import namespace="http://www.hp.com/NDH_Web_Service/assessmentsummary"/>
            <xs:element name="CMSUpdate">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Header" type="dt:Header"/>
                        <xs:element name="Assessment" type="as:Assessment"/>
                        <xs:element name="Objective" type="as:Objective" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hp.com/NDH_Web_Service/Fault"
                   targetNamespace="http://www.hp.com/NDH_Web_Service/Fault" elementFormDefault="qualified"
                   attributeFormDefault="unqualified">
            <xs:complexType name="ErrorType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>A unique code identifying the type of this fault.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Containing specific details for an error, e.g. - 'Offender with CRN
                                1234567' could not be found'.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:dateTime"/>
                    <xs:element name="RequestMessage" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The contents of the SOAP request body that caused this fault
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AuthorisationFailureException" type="ns1:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that the client is not authorised to access the requested
                        service.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BusinessException" type="ns1:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that a business error occured that prevented the request from
                        being fulfilled, e.g. -' Offender with CRN 1234567' could not be found'.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:AuthorisationFailureException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that the client is not authorised to access the
                                    requested service.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ns1:BusinessException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that a business error occured that prevented the
                                    request from being fulfilled, e.g. -' Offender with CRN 1234567' could not be
                                    found'.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ns1:ServerRuntimeException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that an unexpected problem occurred during server
                                    side processing that has prevented the request from being fulfilled, e.g.- database
                                    constraint violation when attemping to persist new data from IAPS or eOASys.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="ns1:ValidationFailureException" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Used to indicate that the incoming request is not valid according to
                                    the schema.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ServerRuntimeException" type="ns1:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that an unexpected problem occurred during server side processing
                        that has prevented the request from being fulfilled, e.g.- database constraint violation when
                        attemping to persist new data from IAPS or eOASys.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValidationFailureException" type="ns1:ErrorType">
                <xs:annotation>
                    <xs:documentation>Used to indicate that the incoming request is not valid according to the schema.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="NDH__Web__Service__CMS__Update">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address
                    location="http://localhost:8555/Business/Processes/NDH_Web_Service/NDH_Web_Service_CMS_Update"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="NDH_PortType">
        <wsdl:operation name="CMS_Update">
            <wsdl:input message="tns:CMS_Update"/>
            <!--<wsdl:fault name="fault1" message="tns:Fault_Report"/>-->
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:NDH_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CMS_Update">
            <soap:operation style="document" soapAction="/Business/Processes/NDH_Web_Service/NDH_Web_Service_CMS_Update"
                            soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CMS_Update">
        <wsdl:part name="request" element="ns0:CMSUpdate"/>
    </wsdl:message>
    <wsdl:message name="Fault_Report">
        <wsdl:part name="fault" element="ns1:Fault"/>
    </wsdl:message>
</wsdl:definitions>